.env
.env.example
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
key.json
firebase-service-account.json
credentials.json
old_credentials.json
static/uploads/